* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: poppins, sans-serif;
    
}

a {
    text-decoration: none;
    color: rgb(34, 87, 122);;
}



h2 {
    margin: 0;
    font-size: 1.3rem;
    color: rgb(34, 87, 122);
    font-weight: 700;
    
}

.logo {
    height: 50px;
    width: 50px;
}

.brand {
    display: flex;
    align-items: center;
    gap: .75rem;
}



header {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1400px;
    margin: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}



.edge {
    background-color: white;
    position: absolute;
    height: 280px;
    width: 9px;
    left: -30px;
    top: 15px;
    margin: auto;
    max-width: 1400px;
    
    

}

.square {
    background-color: rgb(250, 131, 52);
    position: absolute;
    height: 80px;
    width: 210px;
    left: -55px;
    top: -10px;
    margin: auto;
    max-width: 1400px;
    

}

  h1 {
    color: white;
    font-size: 3.5rem;
    margin: 0;
    line-height: 4.5rem;
    position: relative;
    
    
    
  }

  .sub {
    color: white;
    font-size: 1.5rem;
    font-weight: 300;
    margin-top: 10px;
  }


  .ham {
    height: 40px;
    width: 40px;
    margin-left: auto;
    display: none;
  }




nav ul {
    display: flex;
    list-style-type: none;
    gap: 5rem;
    
    
}







nav ul a {

    text-decoration: none;
    color: rgb(34, 87, 122);
    font-size: 1.2rem;
    font-weight: 300;
    display: block;

}

nav ul a:hover {

    color: rgb(250, 131, 52)

}
.backplate {
    
    background-image: url("test.png");
    
    background-size: cover;
    background-position: center;
   
    padding-top: 180px;
    padding-bottom: 180px;
    
    
    
    
  }

  .backplate-fund {
    
    background-color: rgb(56, 157, 165);
    background-image: url("test3.png");
    padding-top: 230px;
    padding-bottom: 230px;
    
    background-size: cover;
    background-position: center center;
   
    display: flex;
    justify-content: center;
    
    margin: auto;
   
    
    
    
    
    
  }

  .csf {
    color: white;
    font-weight: 600;
    opacity: 10%;
    font-size: 10rem;
    padding: -20px;
    margin: -50px;
  }

  

  .hero {
    max-width: 1400px;
    margin: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    
  }



  

  .content {
    max-width: 700px;
    position: relative;
    
    
   
    

  }

  .option-list {
    display: grid;
    gap: 2rem;
    
  }

  form {
    
    
    padding-top: 50px;
    padding-bottom: 65px;
    display: flex;
    flex-direction: column;
    width: 600px;
    gap: 1rem;
    max-width: 1400px;
    margin: auto;
    
    

  }

  .form-wrapper {
    background-color: rgb(34, 87, 122);
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin: auto;


    
   
  }

  .form-wrapper-two {
    background-color: rgb(34, 87, 122);
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1400px;
    margin: auto;

  }

  .form-color {
    background-color: rgb(34, 87, 122);
  }

  .footer-nav li  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
  }

 

  .footer-nav {
    display: flex;
    gap: 5rem;
    
    
  }

  .footer-nav li a:hover {
    color: rgb(250, 131, 52);
    
    
  }


  .fund-header{
    color: white;
    font-size: 2.5rem;
    font-weight: 700;
  }

  .fund-header-wrap {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  @media (max-width: 1000px){
    .feat  {
        background-color: aquamarine;
        color: green;

       
    }

  }

  @media (max-width: 1000px) {
    .feature-container {
        display: flex;
        flex-direction: column;
        margin: 0;
        gap: .2rem;
        
    }

    #feat  {
        width: 100%;

       
    }

    nav ul {
        display: none; 
       
    }

   

    nav ul li {
        width: 100%;
        text-align: center;
    }

    h1 {
        font-size: 2.9rem;
        line-height: 3rem;
    }

    .sub {
        font-size: 1.4rem;
        
    }

    .steps {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .form-circle {
        display: none;
    }

    .ham {
        height: 40px;
        width: 40px;
        margin-left: auto;
        display: block;
      }

      #sub {
        
        grid-template-columns: 1fr;
        
       
      }

      .option-list {
        display: none;
      }

      .form-wrapper {
        background-color: rgb(34, 87, 122);
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 1400px;
        margin: auto;
    
    
        
       
      }

      h2 {
        font-size: 1.1rem;
      }

      .footer-nav {
        display: flex;
        gap: 3rem;
        padding-left: 0px;
        
      }

    


  }

  @media (max-width: 630px) {
    form {
        width: auto;
      }
  }

  
  @media (max-width: 1400px) {
    .image {
        display: none;
    }

    .texting {
        
        margin: auto;
        max-width: 1400px;
        text-align: center;
        
        
    }

    .middle {
        
    }
  }
  

  @media (max-width: 800px) { 
    .content {
        
    }

  

    

    nav ul {

        
    }

    .backplate {
    
        background-image: url("test.png");
        
        background-size: cover;
        background-position: 0% 0%;
       
        padding-top: 180px;
        padding-bottom: 180px;
        
        
        
        
      }

    


     
    
      .image {
        display: none;
      }
     

}

 
  .feat-grey {
    background-color: rgb(241, 238, 238);

  }


  .feature-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    max-width: 1400px;
    margin: auto;


    
    background-color: rgb(241, 238, 238);
    
   
    
  }

  .feature-container div {
    background-color: white;
    width: 300px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    
    color: rgb(22, 60, 97);
    font-size: 1.1rem;
    min-width: 300px
    
    
  }

  .bottom {
    background-color: rgb(34, 87, 122);
    padding-top: 30px;
    padding-bottom: calc(100vh - 1200px);
    text-align: center;
    
  }

  .arrow {
    height: 80px;
    width: 80px;
    margin-top: 50px;
  }

  .bottom p {
    font-size: 1.1rem;
    
    
    font-weight: 300;
    
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  h3 {
    color: white;
    font-size: 1.5rem;
    padding-bottom: -60px;
    padding-left: 1rem;
    padding-right: 1rem;
    
  }

  #hack {
    margin-bottom: 17px;
  }


  .cta-btn {
    color: rgb(34, 87, 122);
    font-size: 1.5rem;
    background-color: white;
    padding: 5px;
    width: 100%;
    width: 190px;
    border-radius: 25px;
    text-align: center;
    font-weight: 300;
    cursor: pointer;


  }

  .cta-btn:hover {
    opacity: 80%;
  }

  .contact {
   /* background-color: rgb(250, 131, 52); 
    padding: 5px;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px; */
  }

  .middle {
    
    color: rgb(34, 87, 122);
    
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 5rem;
    padding-bottom: 50px;
    margin-top: 50px;
    max-width: 1400px;
    margin: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 3.5rem;
    
  }

  .image {
    background-color: beige;
    margin-top: 8px;
    
  }

  .texting {
   
    
  }

  .last {
    text-align: center;
    padding-bottom: 50px;
    max-width: 1400px;
    margin: auto;
    padding-left: 1rem;
    padding-right: 1rem;

    
    color: rgb(34, 87, 122);
   

  }


  .form-two {
    
    
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    gap: 1rem;
    
    
    
    
    

  }



  

  label {
    color: white;
    font-weight: 300;
    margin-bottom: -5px;
    font-size: .85rem;
    
  }

  .form-cont {
    background-color: rgb(34, 87, 122);
    margin: auto;
  }

  .form-section {
    margin-top: -2px;
    background-color: rgb(34, 87, 122);
    
    
    display: flex;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
   
    
    
  }

  .form-section-fund {
    font-family: poppins, sans-serif;
    margin-top: -2px;
    background-color: rgb(34, 87, 122);
    padding-left: 1rem;
    padding-right: 1rem;
    
   
    
    
    
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    

  }

 

  .fund-option-para {
    max-width: 500px;
    flex: 1;
    color: white;
    font-size: 1rem;
    font-weight: 300;
  }

  .form-circle {
    height: 350px;
    width: 350px;
    background-color:rgb(250, 131, 52);
    border-radius: 50%;
    margin-top: -135px;
  }

  .fund-option {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }

  .circle-two {
    height: 160px; 
    width: 160px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  .cta-btn-two {
    font-family: poppins, sans-serif;
    color: rgb(34, 87, 122);
    font-size: 1.2rem;
    background-color: white;
    padding: 5px;
    width: 100%;
    width: 150px;
    border-radius: 25px;
    text-align: center;
    font-weight: 300;
    cursor: pointer;
    margin-top: 20px;
    border: none;
    

  }

  .art {
    color: white;
    
    margin-top: -8px;
    

  }

  .art-dark {
    color: rgb(34, 87, 122);
    margin-top: -10px;
    font-size: 1.1rem;
    
    

  }

  input {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  select {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .field {
    color: white;
    font-size: .8rem;
    font-weight: 300;

  }
  h4 {
    font-size: 1.5rem;
    margin-top: 0;
  }

  .form-title {
    color: white;
    margin-bottom: 20px;
    font-size: 1.5rem;
    text-align: center;
  }

  footer {
    padding-bottom: 20px;
    
  }

  .foot-wrapper {

    max-width: 1400px;
    margin: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    justify-content: center;
  }

  .steps-wrapper {
    background-color: rgb(34, 87, 122);;
  }

  .steps {
    background-color: rgb(34, 87, 122);
    display: flex;
    justify-content: space-evenly;
    gap: 4rem;
    max-width: 1400px;
    margin: auto;
    padding-top: 70px;
    padding-bottom: 55px;
    padding-left: 1rem;
    padding-right: 1rem;
  }




  .circle {
      height: 160px; 
      width: 160px;
      border-radius: 50%;
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      
      
  }

  .bulb {
    height: 80px;
  }
  .card {
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    text-align: center;
    
  }

  .step-title {
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    margin: 0;
  }

  .card-para {
    font-size: 1.1rem;
    color: white;
    font-weight: 300;
    margin-top: -15px;
  }

  .drop-down {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    overflow: hidden;
    height: 0;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .drop-down.open {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    overflow: hidden;
    height: 100%;
  }

  .drop-ul li a:hover {
    color: rgb(250, 131, 52);
    width: 100%;
    
  }

  .drop-ul {
    list-style-type: none;
    width: 100vw;
    margin: 0;
    padding: 0;
    
  }

  .drop-ul li {
    padding: 10px;
    font-size: 1.2rem;
    color: rgb(34, 87, 122);
    width: 100%;
  }

  .footer-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

  }

  .footer-ul li a{
    text-decoration: none;
    
  }

  .nav-wrapper {
    display: flex;
   justify-content: center;
   align-items: center;
    
  }



  .footer-logo {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 30px;
    
  }

  .logo-foot {
    height: 130px;
  }

  .options-wrap {
    max-width: 1400px;
    margin: auto;

  }

  .options-sub {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .option {
    height: 140px;
    background-color: rgb(34, 87, 122);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: start;

  }

  .option-title {
    font-size: 1.5rem;
    color: white;
    font-weight: 600;
  }

  .padlock {
    height: 40px;
    width: 40px;
    margin-bottom: 6px;
    
  }

  .option-cage {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: .75rem;
  }

  .wheel {
    height: 40px;
    width: 40px;
    margin-bottom: 0px;
  }

  .merch {
    height: 40px;
    width: 40px;
    margin-bottom: 0px;
  }

  .invoice {
    height: 40px;
    width: 40px;
    margin-bottom: 0px;
  }

  .asset {
    height: 40px;
    width: 40px;
    margin-bottom: 0px;
  }

  .disclaimer {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    font-size: .9rem;
    font-weight: 300;
    color: rgb(34, 87, 122);
    max-width: 1400px;
    margin: auto;
  }

  #message {
    height: 300px;
  }

  .copyright {
    color: rgb(34, 87, 122);
    display: flex;
    justify-content: center;
    font-size: .9rem;
    font-weight: 300;
    padding-bottom: 20px;
  }

  